<h3>WELCOME, {{user}} </h3>
<br>
<h4>Team QuadSquad</h4>
  
  <div class = "row">
      <ul>
      <li>
          <label class = "team">Siddhesh Prabhu</label>
      </li>
      <li>
         <label class = "team">Anushka Varade</label>
      </li>
          <li>
          <label class = "team">Mrunmayee Salunke</label>
          </li>
          <li>
          <label class = "team">Shruti Tripathi</label>
          </li>
          </ul>
      </div>